@import "../base/mixins";
.auth {
  &__main {
    @include flex-center;
    background-color: $primary;
    margin: 0;
    height: 100vh;
    width: 100vw;
  }
  &__box-container {
    background-color: #f5f5f5;
    box-shadow: 0px 3px $dark-grey;
    border-radius: 2px;
    padding: 20px;
    width: 250px;
  }
  &__title {
    color: darken($color: $primary, $amount: 20);
    margin-bottom: 20px;
  }
  &__input {
    color: $dark-grey;
    border: 0px;
    border-bottom: 1px solid $light-grey;
    font-size: 16px;
    margin-bottom: 10px;
    height: 20px;
    width: 100%;
    transition: border-bottom 0.3s ease;

    &:focus,
    &:active {
      border-bottom: 1px solid $primary;
      outline: none;
    }
  }
  &__social-networks {
    @include flex-center;
    flex-direction: column;
    padding: 20px 0 20px 0;
    width: 100%;
  }
  &__alert-error {
    background-color: rgb(250, 64, 64);
    border-radius: 5px;
    color: #f5f5f5;
    margin-bottom: 10px;
    padding: 5px;
  }
}
