.btn {
  outline: none;
  cursor: pointer;
  background: none;
  transition: all 0.5s ease;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid $dark-grey;
  padding: 1rem;
  margin-left: 1rem;
  &:hover {
    background-color: $dark-grey;
    color: $light-grey;
  }
}
.btnSidebar {
  @include buttonBG($light-grey);
}
.primary {
  @include buttonBG($light-grey);
}
