@import "../base/mixins";
.journal__main-content {
  // @include flex-center;
  display: flex;
}
.journal__sidebar {
  background-color: $dark-grey;
  color: $light-grey;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  width: 450px;
}
.journal__sidebar-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  svg {
    width: 25px;
  }
}
.journal__new-entry {
  @include flex-center;
  flex-direction: column;
  cursor: pointer;
  margin-top: 30px;
  width: 100%;
  transition: color 0.3s ease-in-out;

  svg {
    width: 128px;
  }

  &:hover {
    color: darken($color: $light-grey, $amount: 3);
  }
}
.journal__entries {
  margin-top: 30px;
  flex: 1 1 auto;
  overflow: scroll;
}
.journal__entry {
  background-color: $light-grey;
  border-radius: 4px;
  color: $dark-grey;
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;

  &-active {
    background-color: $grey;
  }
}
.journal__entry-picture {
  height: 75px;
  width: 75px;
}
.journal__entry-body {
  padding: 10px;
}
.journal__entry-title {
  font-size: 14px;
  font-weight: bold;
}
.journal__entry-content {
  font-size: 10px;
}
.journal__entry-date-box {
  @include flex-center;
  flex-direction: column;
  padding: 5px;
}
.journal__entry-date-box span {
  font-size: 12px;
}
